@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');




body { 
  font-family: 'Fira Sans', 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', 'sans-serif';
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  
}

.remark-code, .remark-inline-code {
  font-family: 'Fira Code', 'Lucida Console', Monaco, monospace;
  font-size: 80%;
}

@media print{
  body{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
  }
  
  .title-slide h2 {
    font-family: 'Quattrocento Sans', cursive;
  }
  
  .title-slide h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
  }
  .inverse h2 {
    font-family: 'Quattrocento Sans', cursive;
    
  }
  
  
}