h1, h2, h3 {
  color: #343c56;
}


.remark-code {
  color: #126180;
}
  
.remark-inline-code { 
  color: #126180;
}

.remark-code-line-highlighted { 
  background-color: #84d6d3; 
}

.inverse {
  background-color: #588C7E;
  color: #FFFFFF;
}
  
.inverse h1, .inverse h2, .inverse h3 {
  color: #FFFFFF;
  line-height: 1.0em;
}
  
.inverse .remark-code {
  color: #3498CC;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }


.title-slide {
  background-image: url(OHSU-RGB-1CGRAY-POS.png);
  background-position: 95% 95%;
  background-size: 100px;
  background-color: #588C7E;
}

.inverse h2 {
  font-family: 'Lobster Two', cursive;
  line-height: 1.1;
}

.inverse .remark-inline-code { 
  color: white;
}

.title-slide h1 {
  color: #FFFFFF;
  padding-top: 250px;
  font-size: 50px;
  line-height: 0.05;
  text-align: left;
  padding-bottom: 18px;
  margin-bottom: 18px;
  text-shadow: none;
  word-wrap: break-word;
}

.title-slide h2 {
  color: #FFFFFF;
  font-size: 35px;
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;
  text-shadow: none;
  font-family: 'Quattrocento Sans', cursive;
}

.title-slide h3 {
  font-size: 30px;
  color: #FFFFFF;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1.1;
}

.title-slide .remark-slide-number {
  display: none;
}

.fancy { 
  font-family: 'Lobster Two', cursive;
  font-size: 130%;
  color: #588C7E; 
}

.sidebar {
  font-style: italic;
  font-size: 90%;
  color: #588C7E; 
}

.look {
  font-weight: bold;
  color: #588C7E; 
  
}

.emphasize {
  font-family: 'Roboto Slab', serif;
}

.smaller {
  font-family: 'Roboto Slab', serif;
  font-size: 70%;
}

.bold {
  font-weight: bold;
  
}

/* link color */
a, a > code {
  color: #588C7E;
}